@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

:root[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: '#ffffff';
  --primary-color: #4dabf7;
  --secondary-color: #adb5bd;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}